.element-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  color: rgb(140, 138, 138);
}
.icon {
  color: #588c64;
}
.delete-icon {
  color: rgb(14, 14, 14) !important;
  cursor: pointer;
}
