.side-button {
  padding-right: 3px !important;
}
.svg-icon {
  margin-left: 5px !important;
}
@media only screen and (max-width: 1050px) {
  .side-button {
    padding-left: 2px !important;
  }
}
@media only screen and (max-width: 950px) {
  .side-button {
    padding-left: 1px !important;
    font-size: smaller !important;
  }
}
