.neigboor-img {
  transform: scalex(-1);
  position: absolute;
  top: 25vh;
  left: 20vw;
  height: 60vh;
}
.home-buble {
  transform: scaleX(-1);
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
  right: 15%;
  top: 50px;
  background-color: #f5ebeb;
  border: 0.8px solid black;
  border-radius: 10px;
  padding: 50px 20px;
}
.main-container {
  transform: scalex(-1);
  justify-content: center;
}
.css-1ajfi66 {
  margin-left: 10px;
  width: 160px;
}
.css-bt223m {
  margin-right: 10px;
  width: 160px;
  height: 45px;
}
